.dropdownContainer {
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  height: 50px;
  align-items: center;
  display: flex;
}

.dropdownContainer:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.menuItem {
  display: flex;
}

.startIcon {
  margin: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  margin: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
