.dropdownContainer {
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  height: 50px;
  align-items: center;
  display: flex;
  color: white;
}

.menuItem {
  display: flex;
}

.startIcon {
  margin: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  margin: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
