.containerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  min-width: 500px;
  overflow-x: auto;
  position: relative;
  background-color: #f4f5fa;
}
.language {
  position: absolute;
  top: 0;
  right: 1px;
  display: flex;
  align-items: center;
  height: fit-content;
  border-radius: 20px;
}
.loginPanel {
  width: 30%;
  max-width: 700px;
  padding: 50px 0px 50px 0px;
  background-color: white;
  border-radius: 10px;
}
.title {
  font-weight: 500;
  font-size: 30px;
}
.containerLogin {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: -1rem;
}
.containerTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.forgotSignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0rem 2rem 0rem 2rem;
  font-size: 0.875rem;
}
.forgotSingupLink {
  cursor: pointer;
  text-align: center;
}
.forgotSingupLink:first-child {
  margin-bottom: 0.5rem !important;
}
.mainPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 5rem;
}
.loginCarousel {
  width: 65%;
  height: 100%;
}
@media screen and (min-width: 993px) and (max-width: 1366px) {
  .loginPanel {
    padding: 24px 0px 24px 0px;
  }
}
@media screen and (max-width: 992px) {
  .loginCarousel {
    display: none;
  }
  .loginPanel {
    width: 75%;
  }
}

