.containerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #f4f5fa;
}
.language {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: fit-content;
  border-radius: 20px;
}
.loginPanel {
  width: 40%;
  max-width: 700px;
  padding: 50px 0px 50px 0px;
  background-color: white;
  border-radius: 10px;
}
.title {
  font-weight: 500;
  font-size: 30px;
}
.containerLogin {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: -1rem;
}
.containerTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.forgotSignup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0rem 2rem 0rem 2rem;
}
.forgotSingupLink {
  cursor: pointer;
}
