.container {
  height: 350px;
  min-height: 100%;
  overflow-y: auto;
  width: 600px;
  min-width: 100%;
}
.pagination {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
}

td {
  min-width: 5rem;
  border: 0.1px solid gray;
}
thead {
  position: sticky;
  top: 2rem;
  background-color: white;
  z-index: 2;
  color: white;
}
