.root {
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 768px;
  overflow-y: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.content {
  flex-grow: 8;
  height: 100%;
  margin-top: 50px;
}

.footer {
  height: 20px;
}
