:root {
  --spacing: 20px;
}
.root {
  width: 100%;
  height: 100%;
  display: flex;
}
.menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.main {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  width: 95%;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.content {
  flex-grow: 8;
  margin: 0 5px;
}
.footer {
  height: 20px;
}
