.container {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: row;
  padding: 1px 0px 1px 0px;
  align-items: center;
  position: fixed;
  height: 3rem;
}

.zoomButton:hover {
  color: black;
  border: 0.5px solid black;
}

.userInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  color: white;
}

.userInfoDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.userFullName {
  color: white;
  margin: 0px 10px 0px 10px;
}

.avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 1px 0.5px 1px #000000;
}
